body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hotel-container {
    width: 80%;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hotel-container h2 {
    color: #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hotel {
    background-color: #eaeaea;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.hotel img.hotel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.hotel h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}
